[submodule "plugins/yas/snippets/php-mode"]
	path = plugins/yas/snippets/php-mode
	url = https://github.com/Sliim/minimal-yasnippet-php-mode.git
[submodule "plugins/php-mode"]
	path = plugins/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "plugins/phpplus-mode"]
	path = plugins/phpplus-mode
	url = https://github.com/echosa/phpplus-mode.git