[submodule "emacs.d/plugins/yas/snippets/php-mode"]
	path = emacs.d/plugins/yas/snippets/php-mode
	url = https://github.com/Sliim/minimal-yasnippet-php-mode.git
[submodule "emacs.d/plugins/php-mode"]
	path = emacs.d/plugins/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "emacs.d/plugins/php-plusmode"]
	path = emacs.d/plugins/php-plusmode
	url = https://github.com/echosa/phpplus-mode
[submodule "emacs.d/plugins/auto-complete-etags"]
	path = emacs.d/plugins/auto-complete-etags
	url = https://github.com/whitypig/auto-complete-etags.git
