[submodule "plugins/php-mode"]
	path = plugins/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "plugins/phpplus-mode"]
	path = plugins/phpplus-mode
	url = https://github.com/echosa/phpplus-mode.git
[submodule "plugins/auto-complete-etags"]
	path = plugins/auto-complete-etags
	url = https://github.com/emacsmirror/auto-complete-etags.git
